In [1]:
import pandas as pd

In [2]:
# Data Preprocessing
df = pd.read_csv('dataset_space_API_past_launches_raw.csv')

# Data Clean
df = df.drop(['FlightNumber', 'Date', 'Longitude', 'Latitude'], axis=1) # 删掉没用的

# Process missing Value
PayloadMass_mean = df['PayloadMass'].mean()
PayloadMass_mean = round(PayloadMass_mean, 1)
df['PayloadMass'] = df['PayloadMass'].fillna(PayloadMass_mean)
df['LandingPad'] = df['LandingPad'].fillna('missing')
df['Block'] = df['Block'].fillna('0')

df.head()

,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial
0,Falcon 1,20.0,LEO,Kwajalein Atoll,None None,1,False,False,False,missing,0,0,Merlin1A
1,Falcon 1,5919.2,LEO,Kwajalein Atoll,None None,1,False,False,False,missing,0,0,Merlin2A
2,Falcon 1,165.0,LEO,Kwajalein Atoll,None None,1,False,False,False,missing,0,0,Merlin2C
3,Falcon 1,200.0,LEO,Kwajalein Atoll,None None,1,False,False,False,missing,0,0,Merlin3C
4,Falcon 9,5919.2,LEO,CCSFS SLC 40,None None,1,False,False,False,missing,1.0,0,B0003

# Create a landing outcome label from Outcome column

In [3]:
df = df.replace({'Outcome': {'True Ocean': 1, 
                             'True RTLS': 1,
                             'True ASDS': 1,
                             'False Ocean':0,
                             'False RTLS':0,
                             'False ASDS':0,
                             'None ASDS':0,
                             'None None':0,},
                 'GridFins': {True: 1, False: 0},
                 'Reused': {True: 1, False: 0},
                 'Legs': {True: 1, False: 0}
                })

df.head()

,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial
0,Falcon 1,20.0,LEO,Kwajalein Atoll,0,1,0,0,0,missing,0,0,Merlin1A
1,Falcon 1,5919.2,LEO,Kwajalein Atoll,0,1,0,0,0,missing,0,0,Merlin2A
2,Falcon 1,165.0,LEO,Kwajalein Atoll,0,1,0,0,0,missing,0,0,Merlin2C
3,Falcon 1,200.0,LEO,Kwajalein Atoll,0,1,0,0,0,missing,0,0,Merlin3C
4,Falcon 9,5919.2,LEO,CCSFS SLC 40,0,1,0,0,0,missing,1.0,0,B0003

# Standardize the data

In [4]:
dummy_BoosterVersion = pd.get_dummies(df['BoosterVersion'], prefix='BoosterVersion_')
dummy_Orbit = pd.get_dummies(df['Orbit'], prefix='Orbit_')
dummy_LaunchSite = pd.get_dummies(df['LaunchSite'], prefix='LaunchSite_')
dummy_LandingPad = pd.get_dummies(df['LandingPad'], prefix='LandingPad_')
dummy_Serial = pd.get_dummies(df['Serial'], prefix='Serial_')

df = pd.concat([df, dummy_BoosterVersion, dummy_Orbit, dummy_LaunchSite, dummy_LandingPad, dummy_Serial], axis=1)
df = df.drop(['BoosterVersion', 'Orbit', 'LaunchSite', 'LandingPad', 'Serial'], axis=1)

df.head()

,PayloadMass,Outcome,Flights,GridFins,Reused,Legs,Block,ReusedCount,BoosterVersion__Falcon 1,BoosterVersion__Falcon 9,...,Serial__B1054,Serial__B1056,Serial__B1058,Serial__B1059,Serial__B1060,Serial__B1062,Serial__Merlin1A,Serial__Merlin2A,Serial__Merlin2C,Serial__Merlin3C
0,20.0,0,1,0,0,0,0,0,True,False,...,False,False,False,False,False,False,True,False,False,False
1,5919.2,0,1,0,0,0,0,0,True,False,...,False,False,False,False,False,False,False,True,False,False
2,165.0,0,1,0,0,0,0,0,True,False,...,False,False,False,False,False,False,False,False,True,False
3,200.0,0,1,0,0,0,0,0,True,False,...,False,False,False,False,False,False,False,False,False,True
4,5919.2,0,1,0,0,0,1.0,0,False,True,...,False,False,False,False,False,False,False,False,False,False